<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483648" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
      <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
  </location>
  <system.web>
    <trust level="Full" legacyCasModel="true" />
  </system.web>
</configuration>
<!--ProjectGuid: 13367b7a-e91c-47ee-ba5e-c50664d65767-->