

.featuresant {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 3px 0 0
}

    .featuresant .colant {
        position: relative;
        overflow: hidden;
        min-height: 560px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #000;
        margin-bottom: 3px;
        border-color: #fff
    }

@media (min-width: 750px) {
    .featuresant .colant:nth-child(1),
    .featuresant .colant:nth-child(3) {
        border-right: 3px solid;
        border-color: #fff
    }
}

.featuresant .colant img.bg {
	transition: 500ms opacity, transform 2200ms
}

.featuresant .colant img.bg.loaded {
	opacity: 0.65
}

.touch .featuresant .colant img.bg.loaded {
	opacity: 0.35
}

.featuresant .colant h3 {
	max-width: 300px
}

.featuresant .colant h3,
.featuresant .colant p {
    transition: 500ms color
}

.featuresant .colant p:last-child {
	margin-bottom: 50px
}

@media (max-width: 750px) {
	.featuresant .colant p:last-child {
		margin-bottom: 0
	}
}

.featuresant .colant .content_wrapper {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    max-width: calc(100% - 4rem);
    transition: 500ms transform;
    color: #fff
}

@media (max-width: 750px) {
	.featuresant .colant .content_wrapper {
		max-width: calc(100% - 2rem)
	}
}

.featuresant .colant .content {
	transition: 500ms opacity
}

.no-touch .featuresant .colant .content {
	opacity: 0
}

.featuresant .colant .inside {
	max-width: 70%
}

@media (max-width: 1050px) {
	.featuresant .colant .inside {
		max-width: 100%
	}
}

.featuresant .colant .colantour {
	transition: 500ms color
}

.touch .featuresant .colant .colantour {
    color: #c99d67
}

.no-touch .featuresant .colant:hover .content_wrapper {
	-ms-transform: matrix(1, 0, 0, 1, 0, 0) !important;
	transform: matrix(1, 0, 0, 1, 0, 0) !important
}

.no-touch .featuresant .colant:hover img.bg {
	opacity: 0.2;
	-ms-transform: scale(1.15);
	transform: scale(1.15)
}

.no-touch .featuresant .colant:hover .content {
	opacity: 1
}

.no-touch .featuresant .colant:hover .colantour {
    color: #c99d67
}

@media (min-width: 750px) {
	.featuresant .colant {
		width: 50%
	}
}

@media (max-width: 750px) {
	.featuresant .colant {
		min-height: auto;
		padding: 60px 0;
		width: 100%
	}
}
